
*.log
Autosaves/
Intermediate/
Saved/
DnDQ/Saved/Config/Windows/Engine.ini
DnDQ/Saved/Config/Windows/EditorPerProjectUserSettings.ini
DnDQ/Saved/AutoScreenshot.png
DnDQ/Saved/Config/Windows/EditorPerProjectUserSettings.ini
